*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
background-color: #237A57; 

}
.calculater{
  position: absolute;
  background-color: #ee0979;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50px);
  border: 2px solid #65C7F7;
  width: fit-content;
  padding: 45px;
}
input{
  width: 250px;
  height: 30px;
}
button{
  background-color: green;
  font-size: 50px;
  width: 48px;
}
@media(max-width:360px) {
  .calculater{
    height: 50vh;
  }
  button{
    font-size:40px;
    width: 80px;
  }
}